<div class="row">
    <div class="col-lg-12">
        <h3>
            Renting Rooms
        </h3>
    </div>
    <br>
    <div class="col-lg-12">
        <div class="col-lg-6 default-padding">
            <img class="room-img" src="/assets/img/sala_1.jpg" alt="sala"/>
        </div>
        <div class="col-lg-6 default-padding">
            <p> Renting Rooms Sp. z o.o., ul. Tymienieckiego 25, 61-891 Łódź, NIP 777-123-19-79, KRS 0001234567 <br>
                Telefon: <b>512 653 611</b> <br>
                Adres e-mail: <b>kontakt@rentingrooms.pl</b>
            </p>
            <br>
            <p>
                Firma <b>Renting Rooms</b> specjalizuje się w wynajmie sal na różne okazję. W ofercie firmy znajdują się sale:<br>
                <b> &nbsp;&nbsp;Konferencyjne, <br>
                    &nbsp;&nbsp;Specjalistyczne, <br>
                    &nbsp;&nbsp;Bankietowe</b>
            </p>
            <p>&nbsp;&nbsp;&nbsp;<b>Renting Rooms</b> stara się dostosować zarówno do oczekiwań, jak i możliwości finansowych każdego Klienta. Oferta obejmuje ponad 50 sal na terenie miasta Łodzi różniące się ceną wynajmu, powierzchnią, ilością wolnych miejsc. Możliwe jest również zamówienie cateringu. Firma oferuje wynajem sal na cały dzień lub tylko w określonych godzinach.</p>
        </div>
    </div>
    <br>
    <div class="col-lg-12">
        <div class="col-lg-6 default-padding">
            <p>&nbsp;&nbsp;&nbsp;Aby szkolenia odbywały się w komfortowych warunkach, konieczne jest odpowiednie wyposażenie sali. <b>Renting Rooms</b> oferuję sale wyposażone w nowoczesny sprzęt audiowizualny, umożliwiający przeprowadzenie prezentacji i konferencji. W ofercie posiada również profesjonalnie wyposażone sale komputerowe, specjalistyczne pracownie ze sprzętem kosmetycznym, stomatologicznym, do masażu itp.</p>
            <p>&nbsp;&nbsp;&nbsp;Klienci, którzy skorzystają z usług firmy, czeka również fachowa pomoc. <b>Renting Rooms</b> zapewnia obsługę techniczną realizowanych spotkań. Specjalnie wyznaczone osoby pomagają w podłączeniu sprzętu audiowizualnego czy nagłośnienia oraz czuwają nad poprawnym działaniem sprzętu komputerowego.</p>
            <p>&nbsp;&nbsp;&nbsp;W planach firmy jest poszerzenie infrastruktury informatycznej, co ma przełożyć się również na zwiększenie popularności. W dalekiej przyszłości planowane jest również udostępnianie klientom możliwości wynajmu profesjonalnego fotografa, hostess oraz tłumaczy. Ponadto <b>Renting Rooms</b> chcę wprowadzić zestaw usług, które pomogłyby promować dane wydarzenie, co mogłoby przełożyć się zwiększenie poziomu zadowolenia klienta.</p>
        </div>

        <div class="col-lg-6 default-padding">
            <img class="room-img" src="/assets/img/sala_k_2.jpg" alt="sala"/>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h3>
            REGULAMIN
        </h3>
    </div>
    <div class="col-lg-12 text-center">

        <br><b>POSTANOWIENIA OGÓLNE</b>
        <br>
        <br>
        <b>§ 1.</b>
        <div class="text-left">
            1. Regulamin określa zasady rezerwacji Sal oraz zamawiania ewentualnych Usług dodatkowych związanych z rezerwowaną Salą za pośrednictwem Portalu.
            <br>
            2.  Pojęcia użyte w Regulaminie oznaczają:
            <br>
            &nbsp;&nbsp;&nbsp;a) Administrator – Renting Rooms Sp. z o.o., ul. Tymienieckiego 25, 61-891 Łódź, NIP 777-123-19-79, KRS 0001234567.
            <br>
            &nbsp;&nbsp;&nbsp;b) Sale – wszelkie sale bądź inne powierzchnie zlokalizowane w obiektach znajdujących się w dyspozycji Administratora bądź udostępnione za pośrednictwem Portalu na zasadach określonych w Regulaminie.
            <br>
            &nbsp;&nbsp;&nbsp;c) Portal – strona internetowa
            <br>
            &nbsp;&nbsp;&nbsp;d) Regulamin – niniejszy dokument regulujący zasady rezerwacji i wynajmu Sal oraz świadczenia usług dodatkowych.
            <br>
            &nbsp;&nbsp;&nbsp;e) Wynajmujący – podmiot, który za pośrednictwem Portalu udostępnia Sale na zasadach określonych w Regulaminie.
            <br>
            &nbsp;&nbsp;&nbsp;f) Najemca – podmiot dokonujący rezerwacji, wynajmu lub korzystający z usług dodatkowych, za pośrednictwem Portalu.
            <br>
            &nbsp;&nbsp;&nbsp;g) Uczestnik – osoba korzystająca z wynajętych przez Najemcę Sal.
            <br>
            &nbsp;&nbsp;&nbsp;h) Usługi dodatkowe – wszelkie świadczenia wskazane na stronach Portalu dostępne w przypadku zawarcia Umowy najmu, w szczególności Catering.
            <br>
        </div>
        <br>
        <b>ZASADY REZERWACJI</b>
        <br>
        <br>
        <b>§ 2.</b>
        <div class="text-left">
            1. Zawarcie Umowy najmu odbywa się na podstawie dokonanej przez Najemcę rezerwacji Sali (zamówienie).
            <br>
            2. Złożenie zamówienia może być dokonane przez Najemcę za pomocą:
            <br>
            &nbsp;&nbsp;&nbsp;a) Portalu,
            <br>
            &nbsp;&nbsp;&nbsp;b) drogą mailową na adres umieszczony na Portalu,
            <br>
            &nbsp;&nbsp;&nbsp;c) telefonicznie – pod numerem telefonu wskazanym na Portalu.
            <br>
            3. Wraz z dokonaniem rezerwacji Sal, Najemca może zamówić Usługi dodatkowe.
            <br>
            4. W przypadku złożenia zamówienia drogą mailową lub telefonicznie, Najemca ma obowiązek potwierdzić zamówienie przesyłając maila akceptującego otrzymany od Administratora za pośrednictwem poczty elektronicznej, opis zamówienia, w ciągu 1 dnia roboczego od momentu dokonania zamówienia. W przypadku nie potwierdzenia złożenia zamówienia, po upływie tego terminu zostanie ono anulowane.
            <br>
        </div>
        <b>§ 3.</b>
        <div class="text-left">
            <br>
            1. Odstąpienie od Umowy najmu i rezygnacja z zamówionych usług dodatkowych możliwe są w terminie 14 dni od dnia złożenia zamówienia, jednak nie później niż 4 dni robocze przed terminem rozpoczęcia najmu. W takim wypadku Administrator nie naliczy żadnych opłat. Odstąpienie musi zostać zgłoszone przez Najemcę drogą mailową na adres e-mail: kontakt@rentingrooms.pl.
            <br>
            2. W przypadku odstąpienia w terminie późniejszym niż 4 dni robocze przed terminem rozpoczęcia najmu, Administrator ma prawo obciążyć Najemcę pełnym kosztem najmu oraz zamówionych przez niego Usług dodatkowych.
            <br>
        </div>
        <br>
        <b>OPŁATY</b>
        <br>
        <br>
        <b>§ 4.</b>
        <div class="text-left">
            1. Opłata za Sale i Usługi dodatkowe zamówione przez Najemcę naliczana jest zgodnie z zawartą Umową najmu, niezależnie od faktycznego czasu wykorzystania Sal oraz niezależnie od faktycznego wykorzystania Usług dodatkowych zamówionych przez Najemcę, z zastrzeżeniem ust. 2 poniżej.
            <br>
            2. W przypadku przedłużenia czasu najmu Sal powyżej wynikającego z Umowy najmu, Administrator uprawniony jest do naliczania dodatkowej opłaty za każdą rozpoczętą godzinę najmu zgodnie z cenami wskazanymi na potwierdzeniu przyjęcia zamówienia. Zdanie poprzedzające stosuje się odpowiednio do zwiększenia Usług dodatkowych.
            <br>
        </div>
        <br>
        <b>SPOSÓB I TERMIN PŁATNOŚCI</b>
        <br>
        <br>
        <b>§ 5.</b>
        <div class="text-left">
            1. Opłata za wynajem sali dokonywana jest na podstawie faktury proforma w terminie uwzględnionym na dokumencie.
            <br>
            2. Faktura VAT zostanie wystawiona przez Administratora po wykonaniu Umowy najmu.
            <br>
            3. Najemca poprzez zawarcie Umowy najmu wyraża zgodę na wystawianie przez Administratora i otrzymywanie faktury w formie elektronicznej zgodnie z ustawą o podatku od towarów i usług z dnia 29 lipca 2011 r (Dz.U. Nr 177, poz. 1054) na wskazany w zamówieniu adres mailowy.
            <br>
            4. Termin płatności określony jest każdorazowo na fakturze i wynosi 7 dni od dnia otrzymania faktury przez Najemcę
            <br>
            5. Za moment otrzymania zapłaty uważa się moment zaksięgowania środków na koncie bankowym wskazanym na fakturze.
            <br>
            6. W przypadku gdy Najemca przekroczy termin płatności którejkolwiek z faktur lub częściowych płatności, Administrator ma prawo do naliczenia odsetek ustawowych lub anulowania wszelkich przyszłych zamówień Sal dokonanych przez Najemcę, jak również do rozwiązania ze skutkiem natychmiastowym wszystkich zawartych Umów najmu.
            <br>
        </div>
        <br>
        <b>POSTANOWIENIA DODATKOWE</b>
        <br>
        <br>
        <b>§ 6.</b>
        <div class="text-left">
            1. Najemca nie ma prawa podnajmowania, użyczania lub udostępniania Sal podmiotom trzecim bez pisemnej zgody Administratora.
            <br>
            2. Korzystanie przez Najemcę podczas wynajmowania Sal z własnych Usług dodatkowych, w szczególności z własnego cateringu możliwe jest po otrzymaniu stosownego pozwolenia od Administratora. Pozwolenie takie wymaga formy pisemnej, wraz z określeniem warunków finansowych i organizacyjnych korzystania.
            <br>
            3. W przypadku braku uzyskania powyższego pozwolenia przed planowanym terminem najmu Sali, Administrator ma prawo do naliczenia kary umownej, w wysokości podwójnej pełnej opłaty za najem Sali, za każdy dzień korzystania z własnych Usług dodatkowych, w szczególności z własnego cateringu.
            <br>
            4. W przypadku zamówienia Usług dodatkowych bezpośrednio u dostawcy, wymagana jest akceptacja dostawcy przez Administratora. W takiej sytuacji Najemca zobowiązany jest do przekazania Administratorowi danych kontaktowych podmiotów świadczących Usługi dodatkowe.
            <br>
        </div>
        <br>
        <b>OBOWIĄZKI NAJEMCY I UCZESTNIKÓW</b>
        <br>
        <br>
        <b>§ 7.</b>
        <br>
        <div class="text-left">
            1. Najemca jest zobowiązany do:
            <br>
            &nbsp;&nbsp;&nbsp;a)korzystania z Sali zgodnie z jej przeznaczeniem,
            <br>
            &nbsp;&nbsp;&nbsp;b)utrzymywania porządku i czystości w najmowanych Salach, jak również na terenie całego obiektu oraz wokół niego w stosunku do Uczestników,
            <br>
            &nbsp;&nbsp;&nbsp;c)przestrzegania przepisów sanitarnych, bhp i p. poż.,
            <br>
            &nbsp;&nbsp;&nbsp;d)usunięcia wszystkich wniesionych do Sali materiałów szkoleniowych, promocyjno-informacyjnych i im podobnych po zakończeniu najmu,
            <br>
            &nbsp;&nbsp;&nbsp;e)zapewnienia sprzątnięcia przez firmę cateringową Sal, usunięcia odpadów po posiłkach, w szczególności tych, w których udostępniono posiłki lub sprzątnięcia tych pomieszczeń na własną rękę przez Najemcę w przypadku uzyskania uprzedniej zgody na wynajęcie takich usług we własnym zakresie,
            <br>
            &nbsp;&nbsp;&nbsp;f)zapewnienia dozoru odzieży wierzchniej pozostawionej przez Uczestników,
            <br>
            &nbsp;&nbsp;&nbsp;g)pozostawienia Sali po zakończeniu najmu w takim stanie, w jakim została mu przekazana.
            <br>
            2. Najemca rezerwując Salę może zamówić Usługi dodatkowe wskazane na Portalu w cenach i na warunkach określonych w zamówieniu bądź ustalonych indywidualnie.
            <br>
        </div>
        <b>§ 8.</b>
        <br>
        <div class="text-left">
            1. Odpowiedzialność za wszelkie szkody osobowe i rzeczowe powstałe w związku z najmem ponosi Najemca, w szczególności odnosi się to do utraty, ubytku, uszkodzenia lub zniszczenia sprzętu, odzieży wierzchniej lub innych przedmiotów Najemcy bądź Uczestników.
            <br>
            2. Najemca ponosi odpowiedzialność wobec Administratora lub Wynajmującego za wszelkie szkody i straty wynikłe z niewłaściwego użytkowania wynajętej powierzchni, w tym w szczególności za zniszczenie, uszkodzenie lub kradzież wyposażenia.
            <br>
            3. W przypadku stwierdzenia szkody lub straty wynikłej z niewłaściwego użytkowania wynajmowanych pomieszczeń osoba wskazana przez Administratora stworzy dokumentację uszkodzenia wraz z kosztorysem napraw, następnie dokona napraw zgodnie z kosztorysem, którego kopie prześle na adres Najemcy. Najemca pokryje w całości koszty usunięcia uszkodzenia w terminie 14 dni od daty doręczenia noty obciążeniowej.
            <br>
            4. Za szkody związane z działalnością podmiotów świadczących usługi dodatkowe, działających na zlecenie Najemcy, odpowiada on jak za własne działania. Najemca odpowiada za czyny i działania Uczestników jak za swoje własne.
            <br>
            5. Najemca dokonuje ubezpieczenia Uczestników na własny koszt i ryzyko. Administrator lub Wynajmujący nie ponosi żadnej odpowiedzialności cywilnej, karnej za zaistniałe zdarzenia w trakcie najmu, jak i w czasie poprzedzającym oraz po zakończeniu najmu.
            <br>
        </div>
        <br>
        <b>POSTANOWIENIA PORZĄDKOWE</b>
        <br>
        <br>
        <b>§ 9.</b>
        <br>
        <div class="text-left">
            1. Administrator zastrzega sobie prawo odmowy udostępnienia Sal, jeżeli charakter organizowanego wydarzenia jest sprzeczny z przepisami prawa lub w sposób negatywny może wpłynąć na wizerunek Administratora, Wynajmującego lub podmiotów z nimi współpracujących.
            <br>
            2. Administrator zastrzega sobie prawo odmowy udostępnienia Sal firmom, instytucjom, organizacjom lub osobom fizycznym, które nie przestrzegały postanowień Regulaminu we wcześniejszym terminie.
            <br>
        </div>
        <br>
        <b>REKLAMACJE</b>
        <br>
        <br>
        <b>§ 10.</b>
        <div class="text-left">
            1. Klient może zgłaszać reklamacje dotyczące niewykonania bądź nienależytego wykonania usługi przez dostawcę lub opiekuna klienta za pośrednictwem poczty elektronicznej, poczty tradycyjnej lub osobiście w siedzibie firm.
            <br>
            2. Reklamacja powinna zawierać imię i nazwisko osoby składającej reklamacje, adres email oraz numer telefonu osoby kontaktowej w sprawie reklamacji, a także datę zamówienia usługi której dotyczy reklamacja oraz opis reklamacji.
            <br>
            3. Reklamacje posiadające wymaganą formę oraz treść będą rozpatrywane w terminie 48 godzin od daty ich otrzymania.
            <br>
            4. Klient ma prawo do składania reklamacji w terminie do 14 dni od dnia zakończenia świadczenia usługi.
            <br>
            5. Reklamacja niespełniająca warunków określonych w pkt. 2 oraz 4 pozostanie bez rozpatrzenia.
            <br>
            6. W przypadku odrzucenia reklamacji klient zostanie szczegółowo poinformowany o przyczynie odmowy uwzględnienia reklamacji w terminie do 48 godzin od daty wpłynięcia reklamacji w formie elektronicznej lub na życzenie klienta na papierze, wówczas odpowiedź wysyłana będzie za pomocą poczty tradycyjnej na wskazany przez klienta adres.
            <br>
            7. Jeżeli klient nie zgadza się z decyzją o odrzuceniu reklamacji, może skierować sprawę na drogę sądową.
            <br>
        </div>
        <br>
        <b>OCHRONA DANYCH OSOBOWYCH</b>
        <br>
        <br>
        <b>§ 11.</b>
        <div class="text-left">
            1. Administrator chroni dane osobowe Najemcy, zachowując wymagania określone w obowiązujących przepisach prawa.
            <br>
        </div>
        <br>
        <b>POSTANOWIENIA KOŃCOWE</b>
        <br>
        <br>
        <b>§ 12.</b>
        <div class="text-left">
            1. Złożenie zamówienia przez Najemcę oznacza akceptację Regulaminu.
            <br>
            2. Administrator nie ponosi odpowiedzialności za treści i jakość prezentowanych i wykorzystywanych w czasie najmu materiałów.
            <br>
            3. W przypadku jakichkolwiek roszczeń i sporów między Stronami sądem właściwym miejscowo jest sąd właściwy dla siedziby Administratora.
            <br>
            4. Usługi dostarczane przez Administratora dostępne są wyłącznie do użytku Najemcy. W związku z tym, Administrator nie wyraża zgody na odsprzedaż zawartości stron Portalu, umieszczania na innych stronach głębokich linków (deep-link) do stron Portalu, wykorzystywania ich, kopiowania, używania specjalnych programów do przeszukiwania zawartości stron, prezentowania, pobierania i rozpowszechniania jakichkolwiek treści lub informacji, oprogramowania, produktów lub usług dostępnych na Portalu w jakichkolwiek celach i działaniach komercyjnych lub konkurencyjnych.
            <br>
            5. Administrator zastrzega sobie prawo wprowadzenia zmian do obowiązującego Regulaminu, o których Najemca zostanie poinformowany drogą mailową. Wszystkie zmiany są wprowadzone na bieżąco do treści Regulaminu i publikowane na stronie.
            <br>
            6. Regulamin obowiązuje od dnia 01.10.2017 roku.
            <br>
        </div>
    </div>
</div>
