<div class="siema col-md-12 default-padding" ng-init="initCarousel();">
    <img class="room-img" src="/assets/img/sala_b_1.jpg"/>
    <img class="room-img" src="/assets/img/sala_b_2.jpg"/>
    <img class="room-img" src="/assets/img/sala_k_1.jpg"/>
    <img class="room-img" src="/assets/img/sala_k_3.jpg"/>
    <img class="room-img" src="/assets/img/sala_s_1.png"/>
    <img class="room-img" src="/assets/img/sala_s_2.jpg"/>
    <img class="room-img" src="/assets/img/sala_s_3.jpg"/>
</div>

<div class="col-lg-12">
    <div class="col-lg-6 default-padding">
        <img class="room-img" src="/assets/img/sala_1.jpg" alt="sala"/>
    </div>
    <div class="col-lg-6 default-padding">
        <p> Renting Rooms Sp. z o.o., ul. Tymienieckiego 25, 61-891 Łódź, NIP 777-123-19-79, KRS 0001234567 <br>
            Telefon: <b>512 653 611</b> <br>
            Adres e-mail: <b>kontakt@rentingrooms.pl</b>
        </p>
        <br>
        <p>
            Firma <b>Renting Rooms</b> specjalizuje się w wynajmie sal na różne okazję. W ofercie firmy znajdują się sale:<br>
            <b> &nbsp;&nbsp;Konferencyjne, <br>
                &nbsp;&nbsp;Specjalistyczne, <br>
                &nbsp;&nbsp;Bankietowe</b>
        </p>
        <p>&nbsp;&nbsp;&nbsp;<b>Renting Rooms</b> stara się dostosować zarówno do oczekiwań, jak i możliwości finansowych każdego Klienta. Oferta obejmuje ponad 50 sal na terenie miasta Łodzi różniące się ceną wynajmu, powierzchnią, ilością wolnych miejsc. Możliwe jest również zamówienie cateringu. Firma oferuje wynajem sal na cały dzień lub tylko w określonych godzinach.</p>
    </div>
</div>

<div class="col-lg-12">
    <div class="col-lg-6 default-padding">
        <p>&nbsp;&nbsp;&nbsp;Aby szkolenia odbywały się w komfortowych warunkach, konieczne jest odpowiednie wyposażenie sali. <b>Renting Rooms</b> oferuję sale wyposażone w nowoczesny sprzęt audiowizualny, umożliwiający przeprowadzenie prezentacji i konferencji. W ofercie posiada również profesjonalnie wyposażone sale komputerowe, specjalistyczne pracownie ze sprzętem kosmetycznym, stomatologicznym, do masażu itp.</p>
        <p>&nbsp;&nbsp;&nbsp;Klienci, którzy skorzystają z usług firmy, czeka również fachowa pomoc. <b>Renting Rooms</b> zapewnia obsługę techniczną realizowanych spotkań. Specjalnie wyznaczone osoby pomagają w podłączeniu sprzętu audiowizualnego czy nagłośnienia oraz czuwają nad poprawnym działaniem sprzętu komputerowego.</p>
        <p>&nbsp;&nbsp;&nbsp;W planach firmy jest poszerzenie infrastruktury informatycznej, co ma przełożyć się również na zwiększenie popularności. W dalekiej przyszłości planowane jest również udostępnianie klientom możliwości wynajmu profesjonalnego fotografa, hostess oraz tłumaczy. Ponadto <b>Renting Rooms</b> chcę wprowadzić zestaw usług, które pomogłyby promować dane wydarzenie, co mogłoby przełożyć się zwiększenie poziomu zadowolenia klienta.</p>
    </div>

    <div class="col-lg-6 default-padding">
        <img class="room-img" src="/assets/img/sala_k_2.jpg" alt="sala"/>
    </div>
</div>